<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="<%= asset_path('lang-logo.png') %>">
    </a>
    <h3>Wowzers!</h3>
  </div>
</div>

<div class="container">
	<h4>Deployments are working with Docker</h4>
	<p>Can we get Zero downtime deployments?</p>
</div>
